# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
src/Docreator/.vs/Docreator/v15/.suo
src/.vs/Docreator/v15/.suo
*.ipch
*.ilk
*.pdb
*.tlog
*.log
*.idb
*.enc
